
html{
    background-color: rgb(82, 187, 72);
    color: rgb(16, 88, 104);
}

h1, h2, p{
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    max-width: 700px;
    margin: auto;
}

.MainHeader{
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

.Part{
    background-color: rgb(191, 225, 194);
    border: 1px solid rgb(12, 65, 6);
    padding: 10px;
    margin: 50px 0px 50px 0px;
    
}

img, video, audio, object{
    width: 100%;
    margin-top: 10px;
}