
html{
    background-color: rgb(0, 28, 131);
    color: rgb(0, 28, 131);
}

h1, h2, p{
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    max-width: 700px;
    margin: auto;
}

.MainHeader{
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

.Part{
    background-color: rgb(255, 239, 63);
    border: 1px solid rgb(0, 28, 131);
    padding: 10px;
    margin: 50px 0px 50px 0px;
    
}

img, video, audio, object{
    width: 100%;
    margin-top: 10px;
}