
html{
    background-color: rgb(151, 4, 4);
    color: rgb(255, 255, 255);
}

h1, h2, p{
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    max-width: 700px;
    margin: auto;
}

.MainHeader{
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

.Part{
    background-color: rgb(2, 19, 32);
    border: 1px solid rgb(1, 8, 52);
    padding: 10px;
    margin: 50px 0px 50px 0px;
    
}

img, video, audio, object{
    width: 100%;
    margin-top: 10px;
}