p{
    margin-top: 350px;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    text-align: center;
}

html{
    background-color: black;
    color: white;
}

@media (max-width: 900px){
    html{
        font-size: small;
    }
}

a:visited{
    color: white;
}