html{
    background-color: black;
    color: white;
}

body{
    text-align: center;
    margin-top: 340px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}

p{
    text-align: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
  
  a:link {
    text-decoration: none;
  }
  
  
  a:hover {
    color: #ffffff;
    text-shadow:0px 0px 5px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;



}

@media (max-width: 900px){
  html{
      font-size: small;
  }
}

a:visited{
    color: white;
  }