p{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    
}

@media (max-width: 900px){
    html{
        font-size: small;
    }
}

a:visited{
    color: black;
}

.p2{
    margin-top: 650px;
}