html{
    background-color: aliceblue;
}

.p{
    font-size: 20px;
    margin-bottom: 7%;
    color: rgb(255, 82, 212);
}

h1{
    font-size: 90px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    color: #090059;
}

h2{
    margin-bottom: 5%;
}
.stu{
    color: #090059;
    font-size: 80px;
}

.h22{
    color: rgb(255, 82, 212);
    font-size: 80px;

}