html{
    background-color: rgb(255, 235, 250);
}

body{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.MainHeader{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(252, 40, 189);
}

.Part{
    background-color: rgb(255, 225, 254);
    padding: 10px;
    margin: 50px 0px 50px 0px;
    border: 1px solid rgb(139, 19, 89);
    color: rgb(252, 40, 189);

}

img{
    margin-top: 10px;
    width: 100%;
}

.p1{
    text-align: center;
}