p{
    margin-top: 335px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

@media (max-width: 900px){
    html{
        font-size: medium;
    }
}

a:visited{
    color: rgb(0, 0, 0);
}