

img{
    width: 35%;
    height:35%;
    display: block;
    margin-left: 5%;
    float: left;
    margin-right: 5%;
}

html {
    cursor: url('/studio/projects/02_elastic-collection/picsforcollection/favicon.ico'), url('/studio/projects/02_elastic-collection/picsforcollection/favicon.ico'), 
            url('/studio/projects/02_elastic-collection/picsforcollection/favicon.ico'), auto;
  }

h1{
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-align: center;

}

p{
    margin-right: 5%;

}


.Nav{
    position: absolute;
    top: 10px;
    
}

.Nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Nav-list{
    list-style-type: none;
    padding: 0%;
}

.Nav-item{
    display: inline-block;
    padding: 5px;
}